body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0d3d5c; /* Ніжно білий фон */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/laptop.webp');
    background-size: contain;
    background-position: center;
    z-index: -1;
}

.content {
    max-width: 1600px; /* Збільшено ширину панелі */
    padding: 20px;
    background-color: rgba(34, 72, 143, 0.8); /* Напівпрозора біла панель */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #fff; /* Темно-сірий колір тексту */
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0d2d4e; /* Темно-синій колір кнопок */
    color: #fff; /* Білий колір тексту */
    text-decoration: none;
    border-radius: 0; /* Немає загруглення */
    transition: background-color 0.3s;
    margin: 5px;
}

.btn:hover {
    background-color: #0a5ebc; /* Темніший синій відтінок при наведенні */
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #608fbf; /* Світло-блакитний колір для заголовків таблиці */
    color: #fff; /* Білий колір тексту в заголовках таблиці */
}

.table td a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #0d2d4e; /* Темно-блакитний колір для кнопок у таблиці */
    color: #fff; /* Білий колір тексту на кнопках у таблиці */
    text-decoration: none;
    border-radius: 0; /* Немає загруглення */
    transition: background-color 0.3s;
}

.table td a:hover {
    background-color: #0a5ebc; /* Темніший синій відтінок при наведенні на кнопки у таблиці */
}

form label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color: #efefef; /* Темно-сірий колір тексту на формі */
}

form input[type="text"],
form input[type="number"],
form input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form button[type="submit"] {
    background-color: #0d2d4e; /* Темно-блакитний колір кнопки на формі */
    color: #fff; /* Білий колір тексту на кнопці на формі */
    padding: 10px 20px;
    border: none;
    border-radius: 0; /* Немає загруглення */
    cursor: pointer;
    margin-top: 10px;
}

form button[type="submit"]:hover {
    background-color: #0a5ebc; /* Темніший синій відтінок при наведенні на кнопку на формі */
}

.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

.testcolor {
    color: white;
}